<div class="container mb-4 pt-5">
    <div class="image">
        <img src="./assets/images/image1.png" class="w-100" alt="image1">
    </div>
</div>
<div class="container mb-4 pt-5">
    <div class="row">
        <div class="col-0 col-lg-2"></div>
        <div class="col-12 col-lg-8">
            <h3 class="text-center mb-5">Ответы на часто задаваемые вопросы</h3>
            <div id="accordion">
                <h3
                    class="mb-2 p-4 bg-primary text-white rounded-3 d-flex align-items-start justify-content-between border-0">
                    Собираете ли вы подарочные боксы?
                    <span class="accordion-icon"></span>
                </h3>
                <div class="border-0">
                    Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
                    стоимость!
                </div>
                <h3
                    class="mb-2 p-4 bg-primary text-white rounded-3 d-flex align-items-start justify-content-between border-0">
                    Сколько у вас разновидностей чая?
                    <span class="accordion-icon"></span>
                </h3>
                <div class="border-0">
                    Существует всего 6 основных видов чая, которые производятся из чайного листа: черный, зеленый,
                    белый, желтый, улун и пуэр. Друг от друга они отличаются степенью ферментации и способом
                    обработки.
                </div>
                <h3
                    class="mb-2 p-4 bg-primary text-white rounded-3 d-flex align-items-start justify-content-between border-0">
                    В какой срок осуществляется доставка?
                    <span class="accordion-icon"></span>
                </h3>
                <div class="border-0">
                    Доставка заказов осуществляется курьерской службой в течение 2-4 дней с момента размещения
                    заказа в интернет-магазине.
                </div>
                <h3
                    class="mb-2 p-4 bg-primary text-white rounded-3 d-flex align-items-start justify-content-between border-0">
                    У вас обновляется ассортимент?
                    <span class="accordion-icon"></span>
                </h3>
                <div class="border-0">
                    Обновление всех категорий товаров - один, два раза в неделю. Частичное добавление товара -
                    каждый день.
                </div>
                <h3
                    class="mb-2 p-4 bg-primary text-white rounded-3 d-flex align-items-start justify-content-between border-0">
                    Какого объема у вас пачки чая?
                    <span class="accordion-icon"></span>
                </h3>
                <div class="border-0">
                    Объем пачки небольшой, чай испортиться не успеет (при условии, что его правильно хранят), а
                    покупатель может визуально оценить качество листа.
                </div>
            </div>
        </div>
        <div class="col-0 col-lg-2"></div>
    </div>
</div>