<div class="container-fluid d-flex flex-column h-100">
    <div class="row flex-grow-1">
        <div class="col-md-6 align-self-center text-center">
            <img src="{{ product?.image }}" alt="Product Image" class="img-fluid w-50">
        </div>
        <div class="col-md-6 align-self-center">
            <h2>{{ product?.title }}</h2>
            <p class="lead">Цена: ${{ product?.price }}</p>
            <p>{{ product?.description }}</p>
            <button class="btn btn-primary" (click)="buy()">Купить</button>
        </div>
    </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>